.bg-darker-cream {
  background-color: #dad0c3; /* darker mushroom cream color */
}

.close-gap {
  margin-top: -40px !important;
  margin-bottom: 40px !important;
}

.mw-600 {
  max-width: 600px;
}

.mw-435 {
  max-width: 435px;
}

.minw-355 {
  min-width: 355px;
}
