/* scales a fixed image to cover the whole container, center x & y, no repeating */
.bg-image {
  background: url("/images/bg-image.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.vh-50 {
  height: 50vh;
}

/* Small screens */
@media (max-width: 575px) {
  #home-header {
    
  }
}

/* Small screens */
@media (min-width: 576px) and (max-width: 767px) {
  #home-header {
    
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  #home-header {
    
  }
}

/* Large screens */
@media (min-width: 992px) and (max-width: 1199px) {
  #home-header {
    
  }
}

/* X-Large screens */
@media (min-width: 1200px) and (max-width: 1399px) {
  #home-header {
    
  }
}

/* XX-Large screens */
@media (min-width: 1400px) {
  #home-header {
    
  }
}
