body {
  background-color: #e6ded2; /* mushroom cream color */
  font-family: "IBM Plex Sans", sans-serif;
}

.bg-cream {
  background-color: #e6ded2;
}

.custom-black {
  color: #111111;
}

.nav-link:hover {
  font-weight: bold;
  transition: all 0.3s;
}

.user-links a:hover {
  opacity: 0.7;
}

.border-bottom-grey {
  border-bottom: 1px solid #6c757d;
}

.border-bottom-light {
  border-bottom: 1px solid #d4cbbd; /* light cream color */
}

#product-search {
  background: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
}